:root {
  /* Primary Colors */
  --primary-main: #536493;
  --primary-light: #aeb7d1;
  --primary-dark: #2e3751;
  --primary-contrastText: #ffffff;
  
  /* Secondary Colors */
  --secondary-main: #88c273;
  --secondary-light: #b4d8a6;
  --secondary-dark: #345927;
  --primary-contrastText: #ffffff;

  --hover-bg: #f1f1f1;
}
